In [1]:
print("Hellooo !")

Hellooo !

Write a program that will find all numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a list

In [ ]:
L=[]
for i in range(2000,3200,1):
  if (i%7==0):
    L.append(i)
print(L)



Write a program that can compute the factorial of a given number. (The factorial of n is the product of all positive integers less than or equal to n.) For example: For factorial(5)= 5 x 4 x 3 x 2 x 1 the result is 120 (i.e. factorial (0)=1).

In [ ]:
def factorial(n):
  if (n==1 or n==0):
    return(1)
  else:
    return(n*factorial(n-1))  


 
num=int(input("Enter your nb: "))

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is",factorial(num))

Enter your nb: 7
The factorial of 7 is 5040

With a given integer number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). Then, the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
dic={}
for i in range(1,9,1):
  key=str(i)
  value=i*i
  dic[key]=value

print(dic)

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64}

Given a non-empty string and an integral n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

missing_char('kitten', 1) → 'ktten' for example here we remove "i" which is located in the index 1

missing_char('kitten', 0) → 'itten' here we remove "k" which is in the index 0

missing_char('kitten', 4) → 'kittn' here we remove "e" which is in the index 4

In [ ]:

def missing_char(str, n):
  l=list(str)
  l.pop(n)
  res="".join(l)
  return res 

a=input("give us a no-empty String  :")
b=int(input("give the index char where it will be removed : "))
print("the result is ", missing_char(a,b))

give us a no-empty String  :GOMYCODE
give the index char where it will be removed : 3
the result is  GOMCODE

Write a NumPy program to convert a NumPy array into a Python list structure.

Expected output: 

Original array elements: [[0 1] [2 3] [4 5]] 

Array to list: [[0, 1], [2, 3], [4, 5]]

In [ ]:
import numpy as np
Original_array=np.array([[0,1],[2,3],[4,5]])
array_tolist= Original_array.tolist()
print(array_tolist)

[[0, 1], [2, 3], [4, 5]]

Write a NumPy program to compute the covariance matrix of two given arrays. 

Original array1: [0 1 2] 

Original array2: [2 1 0] 

Covariance matrix of the said arrays: [[ 1. -1.] [-1. 1.]]

In [ ]:
import numpy as np
x = np.array([[0, 2], [1, 1], [2, 0]]).T
print(x)
print(np.cov(x))

[[0 1 2]
 [2 1 0]]
[[ 1. -1.]
 [-1.  1.]]

Write a program that calculates and prints the value according to the given formula: Q= Square root of [(2 * C * D)/H] 

The following are the fixed values of C and H: C is 50. H is 30. 

D is the variable whose values should be input into your program in a comma-separated sequence. (That means D contains more than value)

Example: Let's assume the following comma-separated input sequence is given to the program: 100,150,180 The output of the program should be 18,22,24 

To further explain this, we will obtain a result for each value of D:  Q1= Square root of [(2 * C * 100)/H] =18, Q2= Square root of [(2 * C * 150)/H] = 22 and Q3 = Square root of [(2 * C * 180)/H]  = 24

Hint: If the output received is in decimal form, it should be rounded off to its nearest value. For example, if the output received is 26.0, it should be printed as 26. In case of input data being supplied to the question, it should be assumed to be a console input

In [3]:
import math as mt
c=50
h=30
r=[]
d=input("entrer plusieurs nombres separé par une virgule : ")
d=d.split(",")
print(d)
for i in d :
    q=round(mt.sqrt(2*c*int(i)/h))
    r.append(q)
print(r)

entrer plusieurs nombres separé par une virgule : 52,85,99,785
['52', '85', '99', '785']
[13, 17, 18, 51]